{% extends "shop/base.html" %}
{% load static %}

{% block content  %}
<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-12 col-md-6">
            <h5 class="head">Lamdba Clothing</h5>
            <p>
            Lambda Clothing is a startup clothing company. Balaji is an entrepreneur and animation artist, works for leading
            gaming company in the US. He got his fashion idea from him mom who worked in the apparel industry more than 25 years.
            He designs his own prints and closely followup with factory for the production.

            </p>
        </div>
        <div class="col-12 col-md-6">
            <div class="container">
            <img src="{% static "img/IMG_3579.JPG" %}" width="60%" alt="Balaji"></div>
        </div>
    </div>

    </div>
  {% endblock %}